@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary-3: 110 120 129;
        --primary-4: 91 91 91;
        --primary-5: 143 161 176;
        --background-1: 243 245 247;
        --secondary-1: 53 56 57;
    }

    input {
        @apply focus:outline-none;
    }
}

@font-face {
    font-family: "Avenir";
    src: url("/src/assets/fonts/Avenir Regular.ttf");
}

@font-face {
    font-family: "Avenir-Heavy";
    src: url("/src/assets/fonts/Avenir Heavy.ttf");
}

.main-background-img {
    background-image: url("/src/assets/images/mastermind-main.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main-background-img::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #000;
    opacity: 0.3;
    width: 100%;
    height: 100%;
}

.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    width: 36px;
    height: 3px;
    margin-top: 12px;
    padding-bottom: 4px;
    background: #fff;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(10px);
}

.hamburger-bottom {
    transform: translateY(20px);
}

.open {
    transform: rotate(90deg);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.home-container {
    @apply pb-[150px] flex flex-col items-center justify-center text-white h-screen;
}

.home-item {
    @apply mb-4 font-serif font-bold z-10 italic;
}

.about-container {
    @apply flex flex-col text-center z-10 bg-white p-10 xl:absolute xl:max-w-2xl xl:translate-x-[40rem] xl:translate-y-[20rem];
}

.about-item {
    @apply pb-5 text-justify font-serif;
}

.discover-container {
    @apply flex flex-col justify-center text-center lg:pr-10;
}

.discover-item {
    @apply pb-10 font-serif text-justify;
}

.plans-price-container {
    @apply flex flex-col w-full p-5 lg:p-20 lg:flex-row;
}

.plan-container {
    @apply w-full h-full py-5 mb-5 lg:p-10 lg:mb-5;
}

.plan-item {
    @apply flex flex-row justify-center;
}

.pricing-card-standard {
    @apply flex flex-col justify-evenly bg-white border-t border-l border-b border-black border-opacity-10 mb-5 lg:mb-0 w-full h-full;
}

.pricing-card-premium {
    @apply bg-secondary-1 text-white border border-black border-opacity-10 rounded-lg mb-5 lg:mb-0 w-full lg:ml-2 lg:scale-110;
}

.pricing-header {
    @apply pt-10 text-xl;
}

.pricing-amount {
    @apply flex my-5 pr-2 flex-row justify-center;
}

.pricing-line {
    @apply w-3/4 mx-auto py-2 items-center;
}

.pricing-button {
    @apply rounded-[14px] border-2 w-10/12 h-12;
}

.footer-feature {
    @apply flex flex-col justify-center items-center text-center;
}

.footer-title {
    @apply absolute font-serif text-2xl md:text-5xl text-white mt-10 ml-12 lg:mt-32 lg:ml-10;
}

.footer-nav-item {
    @apply border-black border-l-[3px] mb-4;
}

.footer-social-icon {
    @apply h-8 w-8;
}

.form-login-label {
    @apply font-serif mb-2 lg:text-primary-5 text-sm;
}

.form-login-input {
    @apply bg-inherit p-4 border-black lg:border-slate-300;
}

.form-login-input.valid {
    @apply border-b;
}

.form-login-input.error {
    @apply border-red-400 border-b;
}

.form-login-error {
    @apply text-sm mt-2 text-gray-400;
}

.register-input {
    @apply bg-inherit p-2 border-b border-black lg:border-slate-300;
}

.register-select {
    @apply bg-inherit p-2 border-black lg:border-slate-300 2xl:py-4 px-2;
}

.login-section {
    @apply flex flex-col md:flex-row h-screen;
}

.login-form {
    @apply flex flex-col flex-1 justify-center items-center absolute lg:relative w-full h-screen;
}

.login-title {
    @apply font-bold z-10 mb-16 text-xl tracking-wide md:text-black lg:text-3xl xl:text-4xl;
}

.login-button {
    @apply bg-secondary-1 text-white rounded-[8px] lg:border-2 h-12 mb-14;
}

.forgot-password {
    @apply flex flex-row justify-center text-center font-bold md:font-normal md:text-black;
}

.form-label {
    @apply font-serif mb-4 text-primary-5 text-sm;
}

.form-error {
    @apply text-sm mt-2 text-gray-400;
}

.form-button {
    @apply bg-secondary-1 text-white rounded-[8px] border-2 h-12 mb-6;
}

#home {
    @apply main-background-img h-screen;
}

#about {
    @apply flex flex-col relative mx-auto mt-20 max-w-6xl text-primary-3 xl:translate-x-[-5rem];
}

#feature {
    @apply flex mb-16 md:mb-32 lg:mt-40;
}

#discover {
    @apply flex flex-col justify-evenly items-center text-center text-primary-3 md:mx-10 lg:mx-20 pb-24 lg:flex-row;
}

#plans-pricing {
    @apply flex font-avenir flex-col justify-center text-center pt-20 lg:py-20 bg-background-1;
}

.loader {
    border-top-color: #3498db; /* Change color as desired */
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*



* {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
}

.valid {
    @apply border-b-2;
}

.error {
    @apply border-red-400 border-b;
}

* {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
}

* {
    scroll-margin-top: 250px;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
} */
