@tailwind base;
@tailwind components;
@tailwind utilities;

body[data-aos-duration="4000"] [data-aos],
[data-aos][data-aos][data-aos-duration="4000"] {
    transition-duration: 5000ms;
}

body[data-aos-duration="2000"] [data-aos],
[data-aos][data-aos][data-aos-duration="2000"] {
    transition-duration: 2000ms;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

textarea {
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

@layer base {
    :root {
        --primary-3: 110 120 129;
        --primary-4: 91 91 91;
        --primary-5: 143 161 176;
        --background-1: 243 245 247;
        --secondary-1: 53 56 57;
    }

    input {
        @apply focus:outline-none;
    }
}

@font-face {
    font-family: "Avenir";
    src: url("/src/assets/fonts/Avenir Regular.ttf");
}

@font-face {
    font-family: "Avenir-Heavy";
    src: url("/src/assets/fonts/Avenir Heavy.ttf");
}

.main-background-img {
    background-image: url("/src/assets/images/mastermind-main.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main-background-img::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #000;
    opacity: 0.3;
    width: 100%;
    height: 100%;
}

.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    width: 36px;
    height: 3px;
    margin-top: 12px;
    padding-bottom: 4px;
    background: #fff;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(10px);
}

.hamburger-bottom {
    transform: translateY(20px);
}

.hamburger-dashboard {
    background: #000000;
}

.open {
    transform: rotate(90deg);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.home-container {
    @apply flex h-screen flex-col items-center justify-center pb-[150px] text-white;
}

.home-item {
    @apply z-10 mb-4 font-serif font-bold italic;
}

.about-container {
    @apply z-10 flex flex-col bg-white p-10 text-center xl:absolute xl:max-w-2xl xl:translate-x-[40rem] xl:translate-y-[20rem];
}

.about-item {
    @apply pb-5 text-justify font-serif leading-7;
}

.discover-container {
    @apply flex flex-col justify-center text-center lg:pr-10;
}

.discover-item {
    @apply px-6 pb-10 text-justify font-serif;
}

.plans-price-container {
    @apply flex w-full flex-col p-5 lg:flex-row lg:p-20;
}

.plan-container {
    @apply mb-5 h-full w-full py-5 lg:mb-5 lg:p-10;
}

.plan-item {
    @apply flex flex-row justify-center;
}

.pricing-card-standard {
    @apply mb-5 flex h-full w-full flex-col justify-evenly border-b border-l border-t border-black border-opacity-10 bg-white lg:mb-0;
}

.pricing-card-premium {
    @apply mb-5 w-full rounded-lg border border-black border-opacity-10 bg-secondary-1 text-white lg:mb-0 lg:ml-2 lg:scale-110;
}

.pricing-header {
    @apply pt-10 text-xl;
}

.pricing-amount {
    @apply my-5 flex flex-row justify-center pr-2;
}

.pricing-line {
    @apply mx-auto w-3/4 items-center py-2;
}

.pricing-button {
    @apply h-12 w-10/12 rounded-[14px] border-2;
}

.footer-feature {
    @apply flex flex-col items-center justify-center text-center;
}

.footer-title {
    @apply absolute ml-12 mt-10 font-serif text-2xl text-white md:text-5xl lg:ml-10 lg:mt-32;
}

.footer-nav-item {
    @apply mb-4 border-l-[3px] border-black;
}

.footer-social-icon {
    @apply h-8 w-8;
}

.form-login-label {
    @apply mb-2 font-serif text-sm group-focus-within:text-black lg:text-primary-5;
}

.form-login-input {
    @apply border-black bg-inherit p-4 group-focus-within:border-black lg:border-slate-300;
}

.form-login-input.valid {
    @apply border-b;
}

.form-login-input.error {
    @apply border-b border-red-400;
}

.form-login-error {
    @apply mt-2 text-sm text-gray-400;
}

.register-input {
    @apply border-b border-black bg-inherit p-2 group-focus-within:border-black lg:border-slate-300;
}

.register-select {
    @apply border-black bg-inherit p-2 px-2 lg:border-slate-300 2xl:py-4;
}

.login-section {
    @apply flex h-screen flex-col md:flex-row;
}

.login-form {
    @apply absolute flex h-screen w-full flex-1 flex-col items-center justify-center lg:relative;
}

.login-title {
    @apply z-10 mb-16 text-xl font-bold tracking-wide md:text-black lg:text-3xl xl:text-4xl;
}

.login-button {
    @apply mb-14 h-12 rounded-[8px] bg-secondary-1 text-white lg:border-2;
}

.forgot-password {
    @apply flex flex-row justify-center text-center font-bold md:font-normal md:text-black;
}

.form-label {
    @apply mb-4 font-serif text-sm text-primary-5 group-focus-within:text-black;
}

.form-error {
    @apply mt-2 text-sm text-gray-400;
}

.form-button {
    @apply mb-6 h-12 rounded-[8px] border-2 bg-secondary-1 text-white;
}

.contact-title {
    @apply z-10 mb-16 text-3xl font-bold tracking-wide md:text-black xl:text-4xl;
}

.contact-input,
.contact-area {
    @apply border-b border-black bg-inherit p-2 lg:border-slate-300;
}

.contact-area {
    @apply h-64;
}

#home {
    @apply main-background-img h-screen;
}

#about {
    @apply relative mx-auto mt-20 flex max-w-6xl flex-col text-primary-3 xl:translate-x-[-5rem];
}

#feature {
    @apply mb-16 flex md:mb-32 lg:mt-40;
}

#discover {
    @apply flex flex-col items-center justify-evenly pb-24 text-center text-primary-3 md:mx-10 lg:mx-20 lg:flex-row;
}

#plans-pricing {
    @apply flex flex-col justify-center bg-background-1 pt-20 text-center font-avenir lg:py-20;
}

.loader {
    border-top-color: #3498db; /* Change color as desired */
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*



* {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
}

.valid {
    @apply border-b-2;
}

.error {
    @apply border-red-400 border-b;
}

* {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
}

* {
    scroll-margin-top: 250px;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
} */
